.container-c {
    padding: 5px 10px;

    .result {
        color: $secondary;
        padding: 5px;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .card-t {
        color: $primary;
        text-align: center;
    }

    .versus {
        display: flex;
        align-items: center;
        justify-content: center;
        color: hsl(227, 58%, 78%);
        font-family: $title;
        font-size: 2.5rem;
    }

    @media screen and (min-width: 320px){
        .versus {
            font-size: 3rem;
        }
    }

    .images-l {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(228, 34%, 66%);
        height: 100px;
        width: 100px;
        margin: 0 auto;
        border-radius: 100%;
        border-style: solid;
        border-width: 10px;

        img {
            width: 50px;
            height: 50px;
        }
    }
}

@media screen and (min-width: 360px){
    .container-c {
        padding: 20px;
    }
}

@media screen and (min-width: 600px){
    .container-c {
        padding: 10px;
    
        .card-l {
            background-color: $bg-i;
            padding: 10px 5px;
            border-top-style: solid;
            border-top-width: 4px;
        }
    
        .card-u {
            border-top-color: $scissor;
        } 
    
        .card-c {
            border-top-color: $rock;
        }
    }
}

@media screen and (min-width: 1000px){
    .container-c {
        padding: 30px 80px;
    }
}