// -Colors-

$bg: hsl(228, 28%, 20%);;
$bg-i: hsl(232, 19%, 15%);
$bg-h: hsl(234, 19%, 19%);
$primary: #a64dfa;
$secondary: #a46cff;
$texts: #cacaca;
$rock: #ec3838;
$paper: #426be6;
$scissor: #36ad6a;

// -Fonts-

$title: 'Spectral', serif;
$text: 'Rubik', sans-serif;