.principal {
    background-color: #af5fff;
    padding: 40px 25px;

    h1 {
        color: #e4e4e4;
        text-align: center;
        font-size: 26px;
        font-weight: 400;
        text-transform: uppercase;
    }

    p {
        color: $texts;
    }

    @media screen and (min-width: 1400px){
        p {
            padding: 0 300px;
            text-align: center;
        }
    }

    @media screen and (min-width: 1700px){
        p {
            padding: 0 400px;
        }
    }

    @media screen and (min-width: 1900px){
        p {
            padding: 0 500px;
        }
    }
}